<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <form th:action="@{/posts/create}" th:method="post" th:object="${post}">

    <label for="title">Title:</label>
    <input type="text" th:field="*{title}" id="title">
    <hr>

    <label for="body">Body:</label>
    <input type="text" th:field="*{body}" id="body"/>
    <hr>
<!--    <input name="postId" type="hidden" th:value="${post.getId()}">-->

    <input type="submit"/>
  </form>

</body>
</html>