<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="container">

  <form th:action="${'/posts/create'}" th:method="post" th:object="${postToBeSaved}">
    Title:
    <input th:text="${title}" name="title" id="title">
    <hr>
    Body:
    <input th:text="${body}" name="body" id="body"/>
    <hr>
<!--    <input name="postId" type="hidden" th:value="${post.getId()}">-->

    <input type="submit"/>
  </form>

</main>

</body>
</html>