<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:action="@{/posts/edit}" method="post" th:object="${postToEdit}">
    <label for="postTitle">Title of Post:</label>
    <input name="postTitle" type="text" th:field="*{title}" id="postTitle">

    <label for="postBody">Body of Post:</label>
    <input name="postBody" type="text" th:field="*{body}" id="postBody">

    <input name="postId" type="hidden" th:value="${postToEdit.getId()}">

    <button type="submit">Submit edit</button>
</form>

</body>
</html>